<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <h1>{{detail_list.name}}</h1>
            <p>
                <a href="{% url 'todo_list_update' detail_list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' detail_list.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in detail_list.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a></td>
                        <td>{{ todo_item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>